cffi==1.15.0
Click==8.0.3
cryptography==36.0.1
dnspython==2.2.0
Flask==2.0.2
future==0.18.2
impacket==0.9.24
itsdangerous==2.0.1
Jinja2==3.0.3
ldap3==2.9.1
ldapdomaindump==0.9.3
MarkupSafe==2.0.1
progressbar==2.5
pyasn1==0.4.8
pycparser==2.21
pycryptodomex==3.14.0
pyOpenSSL==21.0.0
six==1.16.0
termcolor==1.1.0
Werkzeug==2.0.2
bloodhound==1.1.1
